// Compass definitions
@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";

// Plugins
@import "sassy-buttons";

// Project
@import "mixins";
@import "lib/lib";
@import "variables";
@import "layout/layout";
@import "type/type";


.wrapper {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	ul { list-style-type:  square; }
	ol { list-style-type: decimal; }
}

body .redactor_toolbar li a.redactor_btn_fork  {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAFeSURBVEiJ7ZYxisJAFIa/GRZtBO/hTDcG7PQCXsD0egDxJmLjXQRThAQtH9ZaW9qIaLKVWVjWSQxki2V/GHiZzPDnzz/vvVF5ntM0dOMM/yTvQtXd6JwTgP1+b8vWepXEcSxhGEoYhhLHsdT9oA/fy9VqxXQ6LWL4UvBEv98vVeQluVwu3O/3Im4ESZKIc06cc5IkiQBkWSZZlhXzz+c8z3k1vJ4MBgP7PdZaW611Ma+Uskopr/ne3+XDbrervLZWnhyPRwmCgNFo1AzJ6XSS5XIJQBAElfaUJuPzyA6HQw6HA+fzGYB2u816vabX65UmY2VPttstAJ1OB2MMs9kMY4yt0iq8JJvNRhaLBQDWWubzOcYYHo8HrVarVEEljMdjiaJIoiiSyWTyY1nx5cdzeJV0u12u1ysAWjdUsNM0LQpkmqa1lZSertvtJsBLD6oYX7ufvEPyO53xz1yJPgHORdlE3Lse3AAAAABJRU5ErkJggg==);
}